p.flashy{
  color: red;
  font-style: italic;
}
p.best{
  color: green;
  font-weight: bold;
}
.important{
  color: yellow;
  font-style: italic;
}
.unimportant{
  background-color: red;
  font-style: oblique;
  text-decoration-line: underline;
}
.john{
  color: pink;
  font-weight: bolder;
}
.cate{
  color: #33ccff;
  font-style: italic;
}
.john{
  color: #ff99ff;
  font-weight: lighter;
}
.nakumatt{
  color: #66ffff;
  background-color: #ff3399;
}
